
@font-face {
  font-family:"raven";
  src: url("../font/RAVIE.TTF")
  format:("truetype");
}
@font-face {
  font-family:"stencil";
  src: url("../font/STENCIL.TTF")
  format:("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

body{
  background-color: rgba(247, 234, 246, 0.884);
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0%;
}


header{
  background:rgb(188, 209, 209) url(../imagen/fondo2.jpg) 90% repeat fixed;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke 0.5;
}

.contenedorLogo{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
}

.contenedorRedesHeader{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.contenedorTitulo{
display: flex;
width:40%;
align-items: center;
justify-content: center;
}

#contenedorAudio{
  margin-left: 60px;
}

.contenedorTexto{
  margin-left: 50px;
  margin-right: 50px;
}

.contenedorNav{
min-height: 10vh;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
margin: 0px 10px 0px 10px;
}

/* Enlaces del navegador */

.link{
  text-decoration: none;
  font-family: "raven";
  font-size: 1.3rem;
  font-weight: bold;
  color: blue;
  padding: 20px 30px;
  }

.link:hover{
  color: rgb(253, 5, 137);
}


/* Estilos de texto */
h1{
  font-family: "raven";
  text-align: center;
  text-decoration: underline;
  font-size:2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.tituloPagina{
  font-family: "stencil";
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
}

h2{
  font-family: "raven";
  font-size: 2rem;
  font-weight: bold;
  color: navy;
  text-decoration: underline;
}

h3{
  text-align: left;
  font-family: "raven";
  font-size: 1.6rem;
  font-weight: bold italic;
  color: indigo;
  }

h4{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold italic;
  color: indigo;
  font-family: "raven";
  }

.texto{
  text-align: justify;
  font-size: 1.1rem;
  }

/*IMAGENES*/
/* contenedor e imagen comida */
.contenedorImagen{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.imagenComida{
  width: 45vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* I frames youtube y mapa */
.contenedorIframe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

/* Iconos a redes sociales */
.iconos{
  width: 40px;

}
.iconos:hover{
  filter: opacity(.5);
}

/* Imagen Logo header */
.imagenLogo{
  width: 35%;
  margin-left: 30px;
  margin-top: 30px;
}
.imagenLogo:hover{
  filter: sepia(60%);
}

/*INICIO DEL FOOTER*/
footer{
  background:azure url(../imagen/fondo2.jpg) 90% repeat fixed;
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  }

.contenedorCopyright{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:30%;
}
.copyright{
  font: 1rem "raven";
  color: DarkSlateGray;
  text-align: center;
    }

.contenedorRedesFooter{
  display: flex;
  width:30%;
  align-items: center;
  justify-content: space-around;
}

.contenedorMapaProgramador{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:30%;
}
